div {
color:white;
background-color:grey;
border-radius:10px;
height:600px;
width:450px;
}

.bio {
    float: right;
 position: relative;
top: 150px;
right: 150px;
}
.work {
    float: left;
 position: relative;
top: 150px;
left: 150px;
}
#contact {
 border-color: #6495ED;
 background-color: #BCD2EE;
 border-radius: 40px;
 margin: auto;
 text-align: center;
 text-decoration: none;
 color: yellow;
 font-family: arial;
}
